OPENAI_API_KEY=
LANGCHAIN_API_KEY=
GROQ_API_KEY=
LANGCHAIN_PROJECT=
GOOGLE_API_KEY=
PINECONE_API_KEY=
LANGCHAIN_TRACING_V2=
TAVILY_API_KEY=
HF_TOKEN=
WANDB=
WANDB_FT=
COMET_API_KEY=
MONGODB_URI=
MONGO_APPNAME=
MONGO_DBNAME=
MONGO_CHUNKS_COL=
MONGO_SEM_CHUNKS_COL=
MONGO_ENTITY_REL_COL=
MONGO_TOPIC_KNW_HASH=
MONGO_PROMPT_HASH=